In [5]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'Colab Notebooks/colab datasets/Pokemon.csv'

Mounted at /content/gdrive

In [0]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv(base_dir,index_col=0,encoding='latin1')
df.head()

         Name Type 1  Type 2  Total  ...  Sp. Def  Speed  Stage  Legendary
#                                    ...
1   Bulbasaur  Grass  Poison    318  ...       65     45      1      False
2     Ivysaur  Grass  Poison    405  ...       80     60      2      False
3    Venusaur  Grass  Poison    525  ...      100     80      3      False
4  Charmander   Fire     NaN    309  ...       50     65      1      False
5  Charmeleon   Fire     NaN    405  ...       65     80      2      False

[5 rows x 12 columns]